body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    margin: 80px 245px;
}

*{
    box-sizing: border-box;
}

.main_text{
    width: 465px;
    margin-right: 180px;
}

h1{
    font-size: 50px;
}

p{
    font-size: 18px;
    width: 423px;
    margin: 30px 0px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.7%;
}

button{
    background: #FF6861;
    border-radius: 100px;
    color: white;
    padding: 22px 70px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700px;
    width: 219px;
    height: 69px;
    border: none;
}

button:hover{
    background: rgba(119, 64, 221, 0.753);
    transition: 1s;
    cursor: pointer;
}

section{
    display: flex;
    align-items: center;
}

.main_image{
    width: 465px;
    height: 465px;
    background: linear-gradient(180deg, #FFE195 0%, #FF5B5B 100%);
    border-radius: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
}

image{
    width: 255px;
    height: 255px;
    left: 105px;
    top: 105px;
    margin: 105px 105px;
    align-items: center;
}